:root {
  --primary-color: #0b080c;
  --primary-color-rgb: 11, 8, 12;
  --primary-color-gradient: rgb(21, 18, 23);
  --primary-color-darken: #0c0c0c;
  --primary-color-darken-gradient: #0c0c11;
  --text-color: #ffffff;
  --box-shadow-light: rgba(200, 200, 200, 0.1);
  --box-shadow-med: rgba(200, 200, 200, 0.4);
  --box-shadow-hard: rgba(200, 200, 200, 0.7);
  --text-background: radial-gradient(
    farthest-side at center,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.1)
  );
  --text-transparent: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  width: 100%;
  font-family: "Dosis", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  letter-spacing: 2px;
  background-color: var(--primary-color-darken);
}

noscript {
  z-index: 1000;
}
.noscript-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 0.5);
  justify-content: center;
  align-items: center;
  display: flex;
}
.noscript-overlay * {
  color: white;
  text-align: center;
}

img.placeholder {
  filter: blur(5px);
  object-fit: none !important;
  object-position: center;
}
img.loaded {
  transition: filter 500ms;
  filter: none;
  opacity: 1;
}

#nav-icon {
  display: none;
}

.color-switch-container {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}
.color-switch-container p {
  margin: 10px 0;
}
#color-switch {
  padding: 5px;
  box-shadow: 0px 0px 20px 0 var(--box-shadow-light),
    0px 0px 5px 0 var(--box-shadow-med);
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50px;
  transition: box-shadow 500ms, background-color 500ms;
}
#color-switch:hover,
#color-switch:focus {
  box-shadow: 0px 0px 20px 0 var(--box-shadow-med),
    0px 0px 5px 0 var(--box-shadow-hard);
}
#color-switch:focus {
  box-shadow: 0px 0px 20px 0 var(--box-shadow-med),
    0px 0px 5px 0 var(--box-shadow-hard), 0px 0px 0px 2px var(--text-color);
  outline: none;
}
#color-switch .circle {
  border-radius: 50%;
  background-color: var(--text-color);
  width: 15px;
  height: 15px;
  transition: transform 500ms, background-color 500ms;
}
#color-switch.light .circle {
  transform: translateX(35px);
}

.fa-angle-down {
  position: relative;
  top: 25px;
  left: 50%;
  animation: up-down 2s ease-in-out infinite;
  color: var(--text-color);
  font-size: 5em;
  text-decoration: none;
  padding: 0 !important;
}

.scroll-to-view {
  opacity: 0;
  transition: transform 500ms ease-out, opacity 500ms;
  transform: translateY(50px);
}
img.scroll-to-view {
  transform: none;
}
.is-visible {
  opacity: 1;
  transform: translateY(0px);
}
.slide-right_1 {
  transform: translate(-100px, 0);
}
.slide-right_1.is-visible {
  transform: translate(0, 0);
}
.slide-right_2 {
  transform: translate(-30px, 0);
  transition-delay: 700ms;
}
.slide-right_2.is-visible {
  transform: translate(0, 0);
}

.section-title span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30%;
  width: 40%;
  height: 5px;
  background-color: var(--text-color);
  transform: translate(50px, 0);
  transition: transform 500ms, background-color 500ms, opacity 500ms;
  transition-delay: 750ms;
  opacity: 0;
}
.section-title.is-visible span::after {
  opacity: 1;
  transform: translate(0, 0);
}

.shapes-background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 !important;
  max-width: none !important;
}
.shapes-background > * {
  position: absolute;
}

.btn {
  margin-top: 8px;
  font-size: 1em;
  padding: 0.8em 1.25em;
  background-color: RGBA(var(--primary-color-rgb), 0.5);
  border: 2px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
  transition: color 300ms ease-out;
}

.btn > span {
  font-weight: bold;
  z-index: 10;
}

.btn::after {
  content: "";
  background-color: var(--text-transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 300ms ease-out;
}

.btn:hover {
  color: var(--primary-color);
}

.btn:hover::after {
  transform: translateY(0);
}

#slider {
  z-index: 2;
  background: linear-gradient(
    to right,
    #011f4b,
    #03396c,
    #014775,
    #305364,
    #475f70
  );
  height: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
}
nav {
  color: white;
  padding: 20px 0px;
  position: fixed;
  right: 30px;
  top: 50px;
  padding: 20px;
  z-index: 999;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  width: 200px;
  margin: 10px 0px;
}
nav ul li a {
  perspective: 40em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  text-decoration: none;
}
nav ul li span {
  padding: 10px 20px;
  z-index: -1;
  flex: 1;
  background-color: #0c0f12;
  border-radius: 1px 0px 0px 5px;
  box-shadow: inset 0px 0px 5px 3px #21282e;
  transform: rotateY(-100deg);
  transform-style: preserve-3d;
  transform-origin: right;
  transition: 500ms ease-out;
  backface-visibility: hidden;
}
nav ul li i {
  width: 45px;
  text-align: center;
  padding: 10px 0px;
  background-color: #21282e;
}
nav ul li:hover span {
  transform: rotateY(0deg);
}
nav ul li:hover {
  box-shadow: 0 10px 20px 0 var(--box-shadow-light),
    0 2px 5px 0 var(--box-shadow-med);
  transition: box-shadow 500ms ease;
  transition-delay: 250ms;
}
nav ul li a:focus {
  outline: none;
}
nav ul li a:focus i {
  outline: 3px solid rgb(79, 79, 255);
  outline-style: double;
  outline-offset: 1px;
}
main section {
  min-height: 100vh;
}
.background-image {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/* HOME */
#home {
  width: 100%;
}
#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background: url("../img/background.jpg") center / cover rgb(25, 25, 25);
  background-attachment: fixed;
}
body.light-mode #home::after {
  filter: invert(90%);
}
#home .text {
  position: absolute;
  left: 10%;
  padding: 15px 30px;
  background-image: var(--text-background);
  font-family: "Alata";
  border-radius: 25px;
}
#home .hello-text {
  top: 25%;
  font-size: 36px;
  font-weight: bold;
  color: var(--text-transparent);
}
#home div.intro-text {
  font-weight: 800;
  top: 35%;
  color: white;
  background-image: var(--text-background);
}
#home div.text p {
  font-size: 24px;
  color: var(--text-transparent);
}
#home div.text p:first-child {
  font-size: 50px;
  color: var(--text-color);
}
#home div > * {
  margin: 20px 0px;
}
#home div h1 {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}
#home div p {
  font-size: 1.2em;
}
#home .fa-angle-down {
  position: absolute;
  bottom: 75px;
  top: initial;
}
@keyframes up-down {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, 20px);
  }
  to {
    transform: translate(-50%, 0px);
  }
}
.common-section {
  padding: 50px 0px;
}
.common-section > * {
  padding: 50px;
  color: var(--text-color);
  max-width: 1200px;
  margin: 0px auto;
}
.common-section .heading {
  text-align: center;
  font-size: 1.3em;
}
.common-section:nth-child(even) {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-darken),
    var(--primary-color-darken-gradient),
    var(--primary-color-darken)
  );
}
.common-section:nth-child(odd) {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--primary-color-gradient),
    var(--primary-color)
  );
}
/* PROFILE */
#profile .profile-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.1em;
}
#profile .profile-container li {
  display: flex;
  margin: 5px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid var(--text-color);
}
#profile .profile-container li span {
  text-align: right;
}
#profile .profile-container li span:first-child {
  color: var(--text-transparent);
}
#profile .profile-container li span:last-child {
  font-weight: 800;
}
#profile .profile-container li > span:first-child {
  font-style: oblique;
}
#profile .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
#profile .contact img {
  height: 3em;
  margin: 0px 15px;
  border-radius: 2px;
  transition: 0.2s ease-in;
}
#profile .contact a:hover img,
#profile .contact a:focus img {
  transform: scale(1.2);
}
#profile .contact a:focus {
  outline: 1px solid var(--text-color);
  outline-offset: 7px;
}
#profile h2 {
  text-align: center;
}
/* EXPERIENCES */
#experiences .experience-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid var(--text-color);
}
#experiences .experience-container .experience-item-container {
  width: 400px;
  height: 300px;
  margin: 0 10px;
}
#experiences .experience-item-container:hover {
  box-shadow: 0px 0px 20px 0 var(--box-shadow-med),
    0px 0px 5px 0 var(--box-shadow-hard);
  transition: box-shadow 500ms;
  transition-delay: 300ms;
}
#experiences
  .experience-container
  .experience-item-container:hover
  .experience-item,
#experiences
  .experience-container
  .experience-item-container:focus
  .experience-item {
  transform: rotateY(180deg);
}
#experiences .experience-container .experience-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 200;
  transition: 500ms ease-in-out;
}
#experiences .experience-container .experience-item .description {
  transition: background-color 500ms ease-out, tranform 500ms ease-in-out;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  transform: rotateY(180deg);
  background-color: var(--primary-color-darken);
  backface-visibility: hidden;
}
#experiences .experience-container .experience-item .description > * {
  padding: 10px 0px;
}
#experiences .experience-container .experience-item .image-container {
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: var(--primary-color-darken);
  backface-visibility: hidden;
}
#canvas-particle {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  max-height: none;
  padding: 0;
  margin: 0;
}
#experiences .help-fab {
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  box-shadow: 0 0 20px 0 var(--box-shadow-med);
  transition: box-shadow 700ms;
}
#experiences .help-fab:hover {
  box-shadow: 0 0 20px 0 var(--box-shadow-med),
    0 0px 5px 0 var(--box-shadow-hard);
}
#experiences .help-content {
  position: absolute;
  right: 50px;
  bottom: 175px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 500ms, opacity 500ms;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);
  color: black;
  box-shadow: 0 0 20px 0 var(--box-shadow-med),
    0 0px 5px 0 var(--box-shadow-hard);
}
#experiences .help-fab:hover + .help-content {
  opacity: 1;
  transform: translate(0, 0);
}
/* SKILLS */
#skills #skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 50px;
}
#skills #skill-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px dotted var(--text-color);
}
#skills #skill-container .rating-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 85px;
}
/* PROJECTS */
#projects .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 0;
}
#projects .projects-container > div {
  text-decoration: none;
  color: white;
  height: 400px;
  overflow: hidden;
  border: 2px solid var(--text-transparent);
  transition: border 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .projects-container > div:hover,
#projects .projects-container > div:focus {
  border: 2px solid var(--text-color);
  outline: none;
}
#projects .projects-container .project-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  transition: transform 1s ease-in-out, filter 1s ease-in-out;
}
#projects .projects-container > div:hover .project-image,
#projects .projects-container > div:focus .project-image {
  filter: blur(2px);
  transform: scale(1.1);
}
#projects .projects-container .project-info {
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  overflow: hidden;
  transition: clip-path 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}
#projects .projects-container .project-info .title {
  margin: 10px 0px;
  font-weight: bolder;
  font-size: 24px;
}
#projects .projects-container .project-info p {
  max-width: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0px 20px 0px;
}
#projects .projects-container .project-info .click-label {
  color: rgb(56, 225, 255);
}
#projects .projects-container > div:hover .project-info,
#projects .projects-container > div:focus .project-info {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#projects .projects-container > div .project-info a {
  text-decoration: none;
}
#projects .projects-container > div .project-info a::after {
  content: "";
  transition: transform 300ms ease-out;
  width: calc(100% + 10px);
  position: absolute;
  bottom: -2px;
  left: -5px;
  height: 1px;
  background-color: rgb(56, 225, 255);
  transform: scaleX(0);
}
#projects .projects-container > div .project-info a:hover::after,
#projects .projects-container > div .project-info a:focus::after {
  transform: scaleX(1);
}
footer {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color) 90%,
    var(--primary-color-darken)
  );
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 75px;
}
footer div > * {
  margin: 10px 0px;
}
footer a {
  font-style: italic;
  text-decoration: none;
  color: rgb(0, 166, 255);
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
}
@media screen and (max-width: 950px) {
  #home .hello-text {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  #home div.intro-text {
    top: 25%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }
  #home div.text div {
    margin: 0px auto;
  }
}
@media screen and (max-width: 650px) {
  .color-switch-container {
    bottom: 30px;
    left: 30px;
  }
  #profile .profile-container li {
    flex-direction: column;
  }
  #profile .profile-container li span {
    text-align: center;
  }
  #skills #skill-container {
    grid-template-columns: 1fr;
  }
  footer {
    flex-direction: column-reverse;
  }
  nav {
    top: 70px;
    right: 10px;
    transition: transform 500ms ease-in-out;
    transform: translateX(200px);
  }
  #nav-icon.open + nav {
    transform: translateX(0);
  }
  #nav-icon {
    display: block;
    width: 45px;
    height: 30px;
    position: fixed;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 999;
  }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out, top 0.25s ease-in-out,
      left 0.25s ease-in-out, width 0.25s ease-in-out, background-color 500ms;
    background-color: var(--text-color);
  }
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 10px;
  }
  #nav-icon span:nth-child(4) {
    top: 20px;
  }
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #projects .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #projects .projects-container .project-info {
    transition: opacity 500ms;
    clip-path: none !important;
    opacity: 0 !important;
  }
  #projects .projects-container > div:hover .project-info,
  #projects .projects-container > div:focus .project-info {
    clip-path: none !important;
    opacity: 1 !important;
  }
  #projects .projects-container > div:hover .project-image,
  #projects .projects-container > div:focus .project-image {
    filter: opacity(0.5);
  }
  .hello-text {
    padding: 15px 0px !important;
  }
}

.github-icon {
  filter: invert(100%);
}

body.light-mode .github-icon {
  filter: none;
}
