main {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}

main > div {
  flex: 1;
  width: inherit;
}

main .images {
  display: flex;
  height: calc(100vh - 72px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}

main .images .stacked-images {
  width: inherit;
  position: relative;
}
main .images .stacked-images img:first-child {
  width: 100%;
}
main .images .stacked-images img:last-child {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 70%;
}

main .images > img:last-child {
  width: 50%;
}

main .content {
  margin-top: 40px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

main .content p {
  margin: 10px 0px;
  font-size: 1.1em;
}
main .content p.closing {
  margin-top: auto;
}
