nav {
  background-color: #fffdf1;
}

nav ul li.logo {
  font-size: 2em !important;
  padding: 10px 20px;
  color: rgb(67, 44, 35);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 60px 30px;
  padding: 30px 50px;
}

main div {
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main div::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fffdf1;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

main div:hover::after {
  opacity: .5;
}

main div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main div span {
  text-transform: uppercase;
  font-size: 1.5em;
  z-index: 2;
  font-weight: bold;
  color: rgb(67, 44, 35);
}
