* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

body {
  background-color: #fffdf1;
}

a {
  color: currentColor;
  text-decoration: none;
  font-size: inherit;
}

nav {
  padding: 5px 50px;
}

nav ul {
  display: flex;
  height: 100%;
}

nav ul li {
  padding: 20px 20px;
  text-transform: uppercase;
  transition: transform 200ms ease-out;
}
nav ul li:hover {
  transform: scale(1.15);
}

nav ul li.logo {
  margin-right: auto;
  font-size: 2em;
  padding: 10px 20px;
  color: rgb(67, 44, 35);
}
nav ul li.logo:hover {
  transform: scale(1);
}
