* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
  font-size: inherit;
}

nav {
  background-color: #d9b986;
  padding: 5px 50px;
}

nav ul {
  display: flex;
  height: 100%;
}

nav ul li {
  padding: 20px 20px;
  text-transform: uppercase;
  transition: font-weight 300ms ease-out, transform 300ms ease-out;
}
nav ul li:hover {
  font-weight: bold;
  transform: scale(1.1);
}

nav ul li.logo {
  padding: 0px 20px;
  margin-right: auto;
  font-size: 5em;
}
nav ul li.logo:hover {
  transform: scale(1.05);
  font-weight: normal;
}

main div.content {
  position: relative;
  height: 700px;
  min-height: calc(100vh - 94px - 114px);
}

main div.content img {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  width: 100%;
}

main div.content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

main div.actions {
  text-transform: uppercase;
  display: flex;
}

main div.actions div {
  cursor: pointer;
  text-align: center;
  padding: 40px 0px;
  font-size: 2em;
  flex: 1;
  background-color: #d9b986;
  transition: background-color 300ms ease-out;
}

main div.actions div:hover {
  background-color: #fffdf1;
}
