@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

:root {
	--board-color: rgb(16, 116, 16);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Russo One', sans-serif;
}
html {
	width: 100vw;
	height: 100vh;
}
body {
	width: 100%;
	height: 100%;
	background: url(./assets/background.jpg) #561e03;
	background-size: 100vw 100vh;
	overflow: hidden;

	--player-color: 0, 0, 0;
	--enemy-color: 230, 230, 230;
}
body.is-white {
	--player-color: 255, 255, 255;
	--enemy-color: 20, 20, 20;
}

noscript {
	z-index: 1000;
}
.noscript-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	flex-direction: column;
	background-color: rgba(50, 50, 50, .5);
	justify-content: center;
	align-items: center;
	display: flex;
}
.noscript-overlay * {
	color: white;
	text-align: center;
}

.update-effect {
	display: inline-block;
	animation: scale-effect 500ms 1;
}

@keyframes scale-effect {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(0);
	}
}

.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	z-index: -1;
}
.overlay > * {
	flex: 1;
}
body .white-overlay {
	background-color: rgba(225, 225, 225, .2);
	transition: box-shadow 500ms, background-color 500ms;
}
body.is-white .white-overlay {
	background-color: rgba(225, 225, 225, .5);
	box-shadow: -10px 0 200px 20px rgba(225, 225, 225, .1),
		0px 0px 100px 30px rgba(225, 225, 225, .5);
}
body .black-overlay {
	background-color: rgba(0, 0, 0, .5);
	box-shadow: 10px 0 200px 20px rgba(0, 0, 0, .5),
		0px 0px 100px 30px rgba(0, 0, 0, .5);
	transition: box-shadow 500ms, background-color 500ms;
}
body.is-white .black-overlay {
	background-color: rgba(0, 0, 0, .1);
	box-shadow: none;
}

#skip-overlay {
	background-color: rgba(var(--player-color), .75);
	z-index: -1;
	opacity: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#skip-overlay * {
	color: rgb(var(--enemy-color));
}
@keyframes flyout {
	30% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
}
#skip-overlay.show {
	animation: flyout 2s 1;
	z-index: 999;
}

.game-container {
	position: absolute;
	max-width: 1250px;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.othello-board-container {
	width: 430px;
	height: 550px;
	background-color: rgb(50, 50, 50);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 0px 15px 30px rgba(30, 30, 30, .5),
		0px 0px 10px 5px rgb(10, 10, 10);
}
.othello-board {
	width: 400px;
	height: 400px;
	background-color: var(--board-color);
	position: relative;
}
.othello-board::after {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	background-color: black;
	z-index: -1;
}
.othello-board .row-tiles {
	display: flex;
	height: calc(100% / 8);
}
.othello-board .row-tiles > div {
	width: calc(100% / 8);
	height: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.othello-board .row-tiles > div:hover {
	background-color: darkgreen;
}
.othello-board .row-tiles > div.hovered:hover::after {
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 1px solid rgba(var(--player-color), .7);
}
.othello-board .row-tiles .circle {
	width: 80%;
	height: 80%;
	border-radius: 50%;
	position: relative;
	transition: transform 500ms linear;
	transform-style: preserve-3d;
}
.othello-board .row-tiles .circle.black {
	transform: rotateY(180deg);
}
.othello-board .row-tiles .circle.white {
	translate: rotateY(0deg);
}
.othello-board .row-tiles .circle .white,
.othello-board .row-tiles .circle .black {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	backface-visibility: hidden;
}
.othello-board .row-tiles .circle .white {
	background-color: white;
	border: 1px solid black;
}
.othello-board .row-tiles .circle .black {
	background-color: black;
	border: 1px solid white;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(180deg);
}

.player-container {
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
	font-size: 20px;
}
.player-container > * {
	margin: 5px 0px;
}
.player-container .player {
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: 4px;
}
.black-container {
	align-items: flex-start;
	color: black;
}

body .black-container .player {
	text-shadow: 0px 0px 5px black;
	transition: text-shadow 500ms;
}
body.is-white .black-container .player {
	text-shadow: 0px 0px 1px black;
}

.white-container {
	align-items: flex-end;
	color: white;
}

body .white-container .player {
	text-shadow: 0px 0px 1px white;
	transition: text-shadow 500ms;
}
body.is-white .white-container .player {
	text-shadow: 0px 0px 5px white;
}

.skip-btn {
	padding: 7px 20px;
	background-color: transparent;
	border-radius: 10px;
}
#skip-btn-white {
	border: 1px solid black;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .8);
	color: black;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
}
#skip-btn-white:hover {
	background-color: white;
}
#skip-btn-black {
	border: 1px solid white;
	box-shadow: 0px 0px 3px 0px rgba(225, 225, 225, .8);
	color: white;
	text-shadow: 0px 0px 5px rgba(225, 225, 225, .7);
}
#skip-btn-black:hover {
	background-color: black;
}

#win-overlay {
	display: block;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 1000;
	opacity: 1;
	background-color: rgba(var(--player-color), .3);
	color: rgb(var(--player-color));
	text-shadow: 0px 0px 3px rgb(var(--enemy-color));
	text-align: center;
	transition: opacity 750ms ease-in-out;
}
#win-overlay.hide {
	opacity: 0;
	z-index: -5;
}
#win-overlay div {
	background-color: rgba(var(--player-color), .5);
	border-radius: 20px;
	padding: 50px 70px;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
}

body.is-tie #win-overlay {
	background-color: rgba(0, 67, 145, .1);
	color: rgb(0, 41, 88);
}
body.is-tie #win-overlay div {
	background-color: rgb(0, 67, 145, .5);
}

#restart-btn {
	margin-top: 20px;
	background-color: rgb(0, 67, 145);
	color: white;
	font-size: medium;
	padding: 10px 20px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0px 0px 15px 0px rgba(var(--enemy-color), .2),
		0px 0px 3px 0px rgba(var(--enemy-color), .5);
	transition: box-shadow 500ms;
}
#restart-btn:hover {
	box-shadow: 0px 0px 25px 0px rgba(var(--enemy-color), .3),
		0px 0px 8px 0px rgba(var(--enemy-color), .5);
}

.mobile-players-container {
	display: none;
}

@media screen and (max-width: 1000px) {
	.game-container {
		padding: 50px 0px;
	}
	.player-container {
		padding: 20px;
	}
}

@media screen and (max-width: 800px) {
	.game-container {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
	}
	.othello-board-container {
		height: 400px;
		width: 330px;
	}
	.othello-board {
		width: 300px;
		height: 300px;
	}
	.player-container {
		display: none;
	}
	.mobile-players-container .player-container {
		display: flex;
		padding: 10px 30px;
	}
	.mobile-players-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
